QWidget#controlPanel {
    max-width: 450;
}

QTextEdit {
    min-height: 45px;
    max-height: 50px;
    min-width: 180px;
}

QPushButton {
    min-height: 40px;
    min-width: 90px;
}

QScrollArea {
    border: 0px;
}

QGroupBox#parentGroupBox{
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    /*margin-top: 20px;*/
    padding-top: 30;
}

QGroupBox#daughterGroupBox{
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-top: 30px;
}

QGroupBox::title {
    subcontrol-origin: margin; 
    subcontrol-position: top left;  
    background-color: transparent;  
    color: black;
    padding: 10px
}